{% extends "pages/base/base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}

<h2 class="headingText">Login</h2>
<hr>
<div class="row">
    <div class="col">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}"/>
            {% endif %}

            <button class="c-button c-button_blue btn-block submit_button" type="submit">{% trans "Log In" %}</button>
            <br>
            <div class="row mt-2">
                <div class="col col-6">
                    <a class="button secondaryAction c-button c-button_blue-ghost btn-block submit_button" href="{% url 'account_reset_password' %}">
                        {% trans "Forgot Password?" %}</a>
                </div>
                <div class="col col-6 text-right">
                    <a class="c-button c-button_blue-ghost btn-block submit_button" href="{{ signup_url }}">Register</a>
                </div>
            </div>
            <br>
        </form>
    </div>
</div>
{% endblock content %}
