{% extends "pages/base/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h2>Password Reset</h2>
<hr>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail containing a link to
    reset it." %}</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Reset My Password' %}"/>
</form>

{% endblock %}
