{% extends "pages/base/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<a class="c-button c-button_maroon" href="{% url 'profile' %}">< Back to Profile </a>
<br>
<h2 align="center">Change Password</h2>
<hr>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="c-button c-button_blue btn-block submit_button" name="action">
        {% trans "Change Password" %}
    </button>
</form>
{% endblock %}
