{% extends "pages/base/base.html" %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<h2 class="headingText" align="center">Profile</h2>
<hr>
{% user_display user as name %}
<h5 class="headingText" align="center">Hello, {{name}}</h5>
<br>
<div align="center">
    <a style="display: inline-block" class="c-button c-button_blue submit_button" href="{% url 'user_files' %}">View Uploaded
        Files</a>
    <a style="display: inline-block" class="c-button c-button_blue submit_button" href="{% url 'account_email' %}">Manage Account
        Email Addresses</a>
    <a style="display: inline-block" class="c-button c-button_blue submit_button" href="{% url 'account_change_password' %}">Change
        Account Password</a>
</div>
{% endblock %}
