{% extends "pages/base/base.html" %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div style="white-space: nowrap">
    <a class="c-button c-button_maroon inline_block" href="{% url 'profile' %}">< Back to Profile</a> |
    <a class="c-button c-button_blue inline_block" href="{% url 'upload' %}">Upload More Files</a> |
    <a class="c-button c-button_blue inline_block" href="{% url 'results_explained' %}">Results Explained</a>
</div>
<br>
<h2 class="headingText">Uploaded Files</h2>
<div class="tablewrap">
    <table class="table table-striped">
        <tr>
            <th scope="col">File Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Grade</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Download</th>
        </tr>
        {% for x in files %}
        <tr>
            <td>{{ x.original_file_name }}</td>
            <td>{{ x.subject }}</td>
            <td>{{ x.grade }}</td>
            <td>{{ x.creation_date }}</td>
            <td>
                <a class="c-button c-button_success submit_button" href="/download/{{ x.document_id }}" download>Download
                    File</a><br>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
