{% extends "pages/base/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block content %}

<h4 style="headingText">Verify Your E-mail Address</h4>
<hr>

{% url 'account_email' as email_url %}

<p>This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that you
    verify ownership of your e-mail address.</p>

<p>We have sent an e-mail to you for verification. Please click on the link inside this e-mail.</p>

<p><strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.</p>

{% endblock %}
