{% extends "login/base.html" %}
{% block content %}
    <!--<h1>Home Page!</h1>-->
<!--<body id="bg" style="background-image: url('../static/img/bg_1.jpg')";> -->
{% load static %}
<style type="text/css">
        body {
         background: url('{% static "img/bg.jpg" %}') no-repeat center center fixed;
         -webkit-background-size: cover;
         /*-moz-background-size: cover;*/
         /*-o-background-size: cover;*/
         /*background-size: cover;*/
        }
</style>
{% endblock content %}

