{% extends "login/base.html" %}
{% block content %}

 <p class="lead"><h5>To make a user profile and upload the files fill this form</h5></p>
            <div>
                <hr class="my-4">
                <form method="POST" enctype="multipart/form-data">
                    <!-- Very Important csrf Token -->
                    {% csrf_token %}
                    <table>
                      <p>LOGIN AS: {{request.user.get_username}}</p>

                        {{ form.as_table }}
                    </table>
                    <input type="submit" class="btn btn-primary btn-lg" name="register">
            </div>
        <!-- </center> -->

{% endblock content %}
