{% extends "login/base.html" %}
{% block content %}

<h3 class="lead">Upload page</h3>
<hr class="my-4">
<form method="POST" enctype="multipart/form-data">
    <!-- Very Important csrf Token -->
    {% csrf_token %}
    <table>
        <h6>loged in as: {{request.user.get_username}}</h6>
        {{ form.as_table }}
    </table>
    <input type="submit" class="btn btn-primary" name="register">
    <!-- {% for msg in messages %} -->
    <!-- {{msg}} -->
    <!-- {% endfor %} -->
    </div>
    <!-- </center> -->

    {% endblock content %}