{% extends "pages/base/base.html" %}
{% block content %}

<h2>About</h2>
<hr>
<div>
    <h5>Education Leadership Research Center (ELRC) </h5>
    <p class='text-muted'>
        ELRC was established by the Texas A&M University College of Education
        and Human Development to advance knowledge about effective education
        leadership by engaging in relevant, high-quality research and disseminating
        key findings on leadership practices and policies that will make a difference
        in helping American schools improve the learning experiences of children.
        <br>
        Find more information check <a href="https://elrc.tamu.edu/"><u>ELRC's website.</u></a>
        <br>
    </p>
    <h5>Contact Us</h5>
    <p>
        Education Leadership Research Center<br>
        427 Harrington Tower<br>
        College Station, TX<br>
        979-845-2716<br>
        <a href="mailto: irbyb@tamu.edu"><u>irbyb@tamu.edu</u></a>
    </p>
</div>
{% endblock %}
