{% extends "pages/base/base.html" %}
{% block content %}

<h2 class="headingText">About the District School Performance Predictor</h2>
<hr>
<div>
    <p>
        In the state of Texas, student testing is part of an accountability system used to grade schools from A to F,
        and a way to generate data for educators and parents to support strong teaching. The
        <a href="https://tea.texas.gov/student-assessment/">State of Texas Assessments of Academic Readiness (STAAR)</a>
        program is one such suite of student testing in which grade levels from three to twelve take summative
        assessments each year.
        These summative assessments are based on the Texas Essential Knowledge and Skills, which are Texas state
        curriculum standards.
    </p>
    <p>
        Therefore, school principals and leadership teams have yearned for a service that can quickly provide insight on
        the large data sets generated through student testing. This is the purpose of the District School Performance
        Predictor (DSPP) website, a software as a service.
    </p>
    <p>
        Built by the
        <a href="https://elrc.tamu.edu/">Educational Leadership Research Center (ELRC)</a>
        at <a href="https://www.tamu.edu/">Texas A&M University</a>,the DSPP provides users a pre-trained machine
        learning
        model that can generate student STAAR test performance predictions using prior student benchmark tests, and
        other student variables. Simply by uploading a CSV information file with the appropriate data, the DSPP can save
        users countless hours in data research, analysis, and processing. A user will be able to look at students in
        grades third to eighth to see if they have met their growth needed for the student progress domain. Upon the
        upload of an information file, users will be able to download a processed CSV file populated with student STAAR
        assessment score predictions for the subject uploaded.
    </p>
    <p>
        It is recommended that users use the DSPP approximately <strong>seven to eight weeks prior to the state-wide
        assessments</strong>
        in order to have ample time to work with all students.
    </p>
    <hr>
    <h5 class="headingText">About the Education Leadership Research Center</h5>
    <br>
    <p>
        The Education Leadership Research Center (ELRC) was established by the Texas A&M University College of Education
        and Human Development. The ELRC's mission is to inform and enrich the leadership practices of individuals and
        school organizations at
        the local, state, national and international levels, and to provide cutting edge professional learning and
        services to teacher leaders, school administrators, and policy makers. Visit the <a
            href="https://elrc.tamu.edu/">ELRC's</a> main website for more information on their objectives,
        affiliations, and additional invaluable services.
    </p>
</div>
{% endblock %}
