{% extends "pages/base/base.html" %}
{% block content %}
<style>

.txtToBlack{
    color: rgb(0,0,0);
}
.headingText{
    color: rgb(80,0,0);
    font-family: 'oswald';
    letter-spacing:.25px !important;
    font-weight: 400;
}
.linkColor{
    color: rgb(0,100,131);
    text-decoration: none;
}

</style>


<h2 class = "headingText">About the District School Performance Predictor</h2>
<hr>
<div>
    <p class='text'>
    In the state of Texas, student testing is part of the accountability system used to grade 
    schools from A to F. The <a href="https://tea.texas.gov/student-assessment/"><u class = "linkColor">State of Texas Assessments of Academic
        Readiness (STAAR)</u></a> program is one 
    such suite of testing in which students from grades three to eight take assessments in math and reading each year. 
    These assessments are based on the Texas Essential Knowledge and Skills, state curriculum standards.
    </p>

    <p class='text'>
    Therefore, school principals and leadership teams have yearned for a software that can predict student 
    STAAR assessment scores in order to help determine where to best focus school resources. Predicting future 
    student STAAR assessment scores in order to aid school principals’ and leadership teams’ decisions is the purpose of this website.
    </p>
    
    <p class='text'>
    The <a href="https://elrc.tamu.edu/"><u class = "linkColor">Educational Leadership Research Center (ELRC)</u></a>
    at <a href="https://www.tamu.edu/"><u class = "linkColor">Texas A&M University</u></a> has worked on a machine learning model to predict student 
    STAAR performances using students’ prior percent scores on STAAR tests (if available), and practice STAAR released assessments 
    taken throughout the year. By simply uploading a CSV file with the appropriate data to our site, our returned machine learning model 
    STAAR assessment score predictions will save you countless hours in data research, analysis, and processing.  We suggest that you use this 
    model approximately seven to eight weeks prior to the state-wide assessment.  By doing this, you will have ample time to work with all students 
    including those close to masters, meets grade-level, approaches grade-level, or did not meet grade-level.  You will also be able to look at students 
    in third to eighth grades to see if the students have met their growth that is needed for the student progress domain.  After you upload your student 
    information, you will receive a CSV file with a predicted STAAR assessment score in the subjects you uploaded.
    </p>
    
    <h5>About the Education Leadership Research Center</h5>
    <p class='text'>
        The Education Leadership Research Center (ELRC) was established by the Texas A&M University College of Education and Human Development. 
        The ELRC's mission is to inform and enrich the leadership practices of individuals and school organizations at the local, state, national 
        and international levels., and to provide cutting edge professional learning and services to teacher leaders, school administrators, and policy 
        makers. Visit the<a class = "linkColor" href="https://elrc.tamu.edu/"><u>ELRC's</u></a> main website for more information on their objectives, affiliations, 
        and additional invaluable services.
    </p>
    <h5>Contact Us</h5>
    <p>
        Education Leadership Research Center<br>
        427 Harrington Tower<br>
        College Station, TX<br>
        979-845-2716<br>
        <a class = "linkColor" href="mailto: irbyb@tamu.edu"><u>irbyb@tamu.edu</u></a>
    </p>
    
</div>
{% endblock %}
