{% extends "pages/base/base.html" %}

{% block head_title %}How to Create an Information File{% endblock %}

{% block content %}

<h2 class="headingText">How to Create an Information File</h2>
<hr>
<div>
    <p class=text-justify>
        The following instructions are for the appropriate assembly of student information in a comma-separated values
        (CSV) file, termed the "information file".
    </p>
    <p class=text-justify>
        The DSPP machine learning model uses the data within the uploaded information file to compute predictions and
        append them to the end of the file once complete. For the machine learning model to provide the most accurate
        predictions, it is necessary to use the provided template CSV as a guide to input your data.
    </p>
    <p class=text-justify>
        <strong>
            Please ensure that your information CSV file contains the exact column headers as shown in the template CSV.
            Failure to do so will result in inaccurate predictions.
        </strong>
    </p>
    <div align="center">
        <a href="https://tamu-dspp-s3.s3.us-east-2.amazonaws.com/media/template/teacher_template.csv"
           class="c-button c-button_maroon-ghost" download> Download Information File Template CSV</a>
    </div>
    <br>
    <h5 class="headingText">General Information</h5>
    <hr>
    <p>
    <ul>
        <li class=text-justify>
            Each row in the CSV file represents a student, with each of their information parameters in a unique column
            in that row.
        </li>
        <li class=text-justify>
            Your CSV information file should only contain information from one STAAR subject test area over one grade.
            For example, an information file can include third-grade students' information and their math benchmark test
            scores from the same academic year. An information file should NOT include varying subject areas and or
            grade levels.
        </li>
        <li>
            Please avoid leaving any blanks in the CSV file. Doing so will yield an inaccurate result for that student.
        </li>
    </ul>
    </p>
    <br>
    <h5 class="headingText">Step 1</h5>
    <hr>
    <p class=text-justify>
        As seen in the column headers 'A' to 'F' of the information file CSV template, the following data is required
        for each student. Details on how to convey each information parameter can be seen in the table below.
    </p>
    <table class="table table-striped">
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Header</th>
            <th scope="col">Name</th>
            <th scope="col">Values</th>
        </tr>
        <tr>
            <td>1</td>
            <td>A</td>
            <td>Student Number</td>
            <td>
                <ul>
                    <li>
                        A number that can be used to reidentify students after receiving results while masking student
                        identities.
                        It is recommended to simply use the row count as seen in the template.
                    </li>
                    <li>
                        Do NOT use student school ID numbers due to FERPA.
                    </li>
                    <li>
                        Do NOT include actual student names due to FERPA.
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>B</td>
            <td>Grade</td>
            <td>
                <ul>
                    <li>
                        A number corresponding to the student's grade.
                    </li>
                    <li>
                        For example, if the student is in third grade, put 3.
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>C</td>
            <td>Ethnicity</td>
            <td>
                <ul>
                    <li>
                        AM - American Indian or Alaska Native
                    </li>
                    <li>
                        A - Asian
                    </li>
                    <li>
                        B - Black or African American
                    </li>
                    <li>
                        H - Hispanic or Latino or Spanish Origin
                    </li>
                    <li>
                        P - Native Hawaiian or Other Pacific Islander
                    </li>
                    <li>
                        W - White
                    </li>
                    <li>
                        T - Two or more ethnicities
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>D</td>
            <td>ECD</td>
            <td><i>Early Childhood Development</i>
                <ul>
                    <li>
                        1 - Yes
                    </li>
                    <li>
                        0 - No
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>E</td>
            <td>LEP</td>
            <td><i>Limited English Proficiency</i>
                <ul>
                    <li>
                        1 - Yes
                    </li>
                    <li>
                        0 - No
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>F</td>
            <td>SpEd</td>
            <td><i>Special Education</i>
                <ul>
                    <li>
                        1 - Yes
                    </li>
                    <li>
                        0 - No
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <br>
    <h5 class="headingText">Step 2</h5>
    <hr>
    <p class=text-justify>
        Headers 'G' and 'H' should be populated with student test scores. These scores can be from previous STAAR tests,
        school district benchmark tests, or a combination thereof. Details on how to convey each test score can be seen
        in the table below.
    </p>
    <table class="table table-striped">
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Header</th>
            <th scope="col">Name</th>
            <th scope="col">Values</th>
        </tr>
        <tr>
            <td>7</td>
            <td>G</td>
            <td>BM 1</td>
            <td><i>Benchmark 1</i>
                <ul>
                    <li>
                        Enter the second most recent STAAR or benchmark test score for the corresponding subject.
                    </li>
                    <li>
                        This number should be a percentage. For example, if a student got 18 out of 36 questions
                        correct, enter 50. Do not include the percent sign.
                    </li>
                    <li>
                        This number can be a decimal.
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td>H</td>
            <td>BM 2</td>
            <td><i>Benchmark 2</i>
                <ul>
                    <li>
                        Enter the most recent STAAR or benchmark test score for the corresponding subject.
                    </li>
                    <li>
                        This number should be a percentage. For example, if a student got 18 out of 36 questions
                        correct, enter 50. Do not include the percent sign.
                    </li>
                    <li>
                        This number can be a decimal.
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <div align="center">
        <a href="https://tamu-dspp-s3.s3.us-east-2.amazonaws.com/media/template/example_csv.csv"
           class="c-button c-button_maroon-ghost" download> Download Completed Example Information File CSV</a>
    </div>
    <br>
    <h5 class="headingText">Step 3</h5>
    <hr>
    <p class=text-justify>
        Save the populated information file as a CSV. It can have any name.
        <br>
        <br>
        <b>Please note: Saving files in this format will delete any additional formatting, including other pages or tabs
            within the same spreadsheet. Copy and paste the data into a new, separate document if the file formatting
            and
            other pages or tabs are critical.</b>
    </p>
    <br>
    <h5 class="headingText">Step 4</h5>
    <hr>
    <p>
        Proceed to upload the CSV file on the "Upload an Information File for Machine Learning Prediction" page.
    </p>
    <div align="center">
        <a class="c-button c-button_blue inline_block" href="{% url 'upload' %}">> Upload an Information File for
            Machine Learning
            Prediction</a>
    </div>
</div>

{% endblock %}
