{% extends "pages/base/base.html" %}
{% block content %}

<style>

.fileUploadLink{
    text-align: center;
    font-size: 25px;
    
}

ul.bulletdList {
  list-style-type: circle;
}
ul.indentedList{
  margin-left: +15px;
}
</style>


<h2 class = "headingText">How to Create an Information File</h2>
<hr>

<div class = txtToBlack>
    <p class='text'>
    The following instructions are for the appropriate
    assembly of data in a comma-separated values file, or CSV file,
    in order to receive accurate student STAAR prediction scores.
    </p>

    <p class='text'>
    Simply put, the machine learning models receive data from the information
    file and after analysis and computation append new computed predictions to the end of the file.
    </p>
    
    <p class='text'>
     Therefore, in order for the machine learning models to provide the most accurate predictions
     it is necessary to provide all requested information in the correct order and format.
    </p>
    
    <p class='text'>
    It is recommended that the following template information file CSV be used for easier assembly of the
    information file, and to ensure inputted information is accurate.
    </p>
    
    <a href="https://tamu-dspp-s3.s3.us-east-2.amazonaws.com/media/template/teacher_template.csv" class="c-button c-button_maroon-ghost" download> Download Template Information File CSV </a><br>
    <br>
    <h5>Step 1</h5>
    <p class='text'>
        As seen in the column headers ‘A’ to ‘F’ of the information file CSV template, the following student data is required for each student:
    </p>
    
    <ul class="bulletedList">
      <li>Local Id</li>
      <ul class="bulletedList">
        <li>No space characters can be utilized in this column</li>
      </ul>
      <li>Grade</li>
      <ul class="bulletedList">
        <li>Please convey by the grade number rather name</li>
      </ul>
      <li>Ethnicity</li>
      <ul class="bulletedList">
         <li>Use the following abbreviations to convey students’ ethnicities</li>
              <ul class="bulletedList">
                <li>‘H’ for Hispanic and or Latin Origin</li>
                <li>‘W’ for White and or European</li>
                <li>‘B’ for African American</li>
              </ul>
        </ul>
      <li>ECD (Early Childhood Development)</li>
      <ul class="bulletedList">
        <li>Please use ‘1’s and ’0’s for ‘yes’ and ‘no’</li>
      </ul>
      <li>LEP (Limited English Proficiency)</li>      
      <ul class="bulletedList">
        <li>Please use ‘1’s and ’0’s for ‘yes’ and ‘no’</li>
      </ul>
      <li>SpEd (Special Education)</li>
      <ul class="bulletedList">
        <li>Please use ‘1’s and ’0’s for ‘yes’ and ‘no’</li>
      </ul>
    </ul>
    <br>
    <p class='text'>
        Note, each student should be in a unique row with each student’s information parameter
        in a unique column in said row. Details on how to convey each information parameter can be seen in the table above.
    </p>

    <h5>Step 2</h5>
    
    <p>
       As can be seen in the template column headers ‘G’ through ‘L’ should be populated with student STAAR test scores.
       These test scores columns can be populated with prior STAAR scores for a student and or benchmark test given by the school district. 
       At this time, it is necessary that each uploaded information file contain scores ONLY from the same core subject area and grade cohort.
    
       The STAAR test score data itself should be conveyed as the percent number out of one hundred, excluding any percent signs or decimals. 
       The following are the column header names within the information file CSV template:
    </p>
    
    <ul class="bulletedList">
      <li>Fall 2017 Math BM MA.04.005.E PcntScore 12/13/2017</li>
      <ul class="bulletedList">
        <li>Conveyed as the percent number out of one hundred, excluding any percent signs or decimals</li>
      </ul>
      <li>Spring 2018 Released STAAR BM  3/29/2018</li>
      <ul class="bulletedList">
        <li>Conveyed as the percent number out of one hundred, excluding any percent signs or decimals</li>
      </ul>
      
      <li>Spring 2018 STAAR MA04 PcntScore 5/2018</li>
      <ul class="bulletedList">
        <li>Conveyed as the percent number out of one hundred, excluding any percent signs or decimals</li>
      </ul>
      
      <li>Fall 2018 Math BM MA.05.018.E PcntScore 12/21/2018</li>
      <ul class="bulletedList">
        <li>Conveyed as the percent number out of one hundred, excluding any percent signs or decimals</li>
      </ul>
      
      <li>Spring 2019 Released STAAR BM  2/11/2019</li>      
     <ul class="bulletedList">
        <li>Conveyed as the percent number out of one hundred, excluding any percent signs or decimals</li>
      </ul>
      
      <li>Spring 2019 STAAR MA05 PcntScore 5/2019 or 6/2019</li>
        <ul class="bulletedList">
        <li>Conveyed as the percent number out of one hundred, excluding any percent signs or decimals</li>
      </ul>
    </ul>
    <br>
    <h5>Step 3</h5>
    
    <p>
    Finally, save the populated file as a csv. Note, any file name can be used.
    </p>
    <p>
    Upon the completion of step three an information file has now been created that will 
    result in  accurate student STAAR score predictions. To receive these predictions please 
    upload the file on the District School Performance Predictor File Upload Page using an email-verified account.
    </p>
    
    <a class = "linkColor fileUploadLink" href="{% url 'upload' %}"><u>Upload an Information File for Machine Learning Prediction</u></a>
    
</div>

{% endblock %}
