{% extends "pages/base/base.html" %}
{% block content %}

<style>

.txtToBlack{
    color: rgb(0,0,0);
}
.headingTextWelcome{
    text-align: center;
    color: rgb(80,0,0);
    font-family: 'oswald';
    letter-spacing:.5px !important;
    font-weight: 400;
    font-size: 3rem;
}
.headingText{
    color: rgb(80,0,0);
    font-family: 'oswald';
    letter-spacing:.25px !important;
    font-weight: 400;
}

.linkColor{
    color: rgb(0,100,131);
    text-decoration: none;
}

.welcomeHeader{
    text-align: center;
    font-style: italic;
    font-size: 1.75rem;
    display: block;
    letter-spacing: .25px;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.25rem;
    color: #500000;
    text-shadow: none;
}
ul.bulletedList {
  list-style-type: circle;
}

</style>


<h2 class="headingText welcomeHeader">Welcome To The</h2>
<h2 class="headingTextWelcome">District School Performance Predictor</h2>
<hr>
<div>
    <p class="txtToBlack">
        Created by the <a class="linkColor" href="https://elrc.tamu.edu/"><u>Educational Leadership Research Center
        (ELRC)</u></a>
        at <a class="linkColor" href="https://www.tamu.edu/"><u>Texas A&M University</u></a>,
        this software as a service computes student

        <a class="linkColor" href="https://tea.texas.gov/student-assessment/"><u>STAAR test</u></a>
        scores that enables users to make informed decisions during the critical time periods between
        final benchmark tests and official STAAR tests.
    </p>

    <p class="txtToBlack">
        With the predictions computed by the District School Performance Predictor machine learning model,
        user’s can determine which core subject areas their school needs improvement in, specific students that need
        help,
        an estimate on how far a student is to the next Texas Education Agency (TEA) performance categorization, and can
        provide an
        advanced way to numerically assure parents their children are being prepared for their next grade level.
    </p>


    <p class="txtToBlack">
        To utilize this service start by <a class="linkColor" href="{% url 'account_signup' %}"><u>registering</u></a>
        an account and then proceed to the
        <a class="linkColor" href="{% url 'fileinformation' %}"><u>How to Create an Information File</u></a>.
    </p>
    <br>
    <p class="txtToBlack">
        For more information regarding this website please visit the links below:

    <ul class="bulletedList">
        <li><a class="linkColor" href="{% url 'about' %}"><u>About the District School Performance Predictor</u></a>
        </li>
        <li><a class="linkColor" href="{% url 'whyuse' %}"><u>Why use the District School Performance Predictor</u></a>
        </li>
        <li><a class="linkColor" href="{% url 'fileinformation' %}"><u>How to Create an Information File</u></a></li>
        <li><a class="linkColor" href="{% url 'results_explained' %}"><u>Explaining the Results of the District School
            Performance Predictor</u></a></li>
    </ul>
    </p>
</div>


{% endblock %}
