{% extends "pages/base/base.html" %}

{% block head_title %}DSPP{% endblock %}

{% block content %}

<div class="headingText txtoswald">
    <h2 class="welcomeHeader">Welcome To The</h2>
    <h2 class="headingTextWelcome">District School Performance Predictor</h2>
    <hr>
</div>
<div>
    <p class = text-justify>
        Created by the <a href="https://elrc.tamu.edu/">Educational Leadership Research Center
         (ELRC)</a> at <a href="https://www.tamu.edu/">Texas A&M University</a>, this software
         as a service generates student 
          <a href="https://tea.texas.gov/student-assessment/">STAAR test</a> 
         score predictions 
         that enables users to make informed decisions
         during critical time periods between benchmark tests and official STAAR tests. 
    </p>
    
    
    <p class = text-justify>
         With the predictions computed by the District School Performance Predictor's (DSPP) machine learning model,
        user’s can better determine which core subject areas their school needs improvement in, which
        specific students need help, estimate how far a student is to the next 
         <a href="https://tea.texas.gov">Texas Education Agency (TEA) </a> 
        performance level, and provide an advanced way to numerically assure parents their children are being prepared for the next grade level.
    </p>
    <p>
        To utilize this service start by <a href="{% url 'account_signup' %}">registering</a>
        an account and then proceeding to the
        <a href="{% url 'file_info' %}">How to Create an Information File</a>.
    </p>
    <br>
    <h5 class="headingText" align="center">For more information regarding this website, please visit the links below.</h5>
     <br>
    <div class="list-group" align="center" style="display: block">
        <a class="list-group-item list-group-item-action c-button_maroon-slide-button text-size-sliding-button button_width" href="{% url 'about' %}">About the DSPP</a>
        <a class="list-group-item list-group-item-action c-button_maroon-slide-button text-size-sliding-button button_width" href="{% url 'why_use' %}">Why use the DSPP?</a>
        <a class="list-group-item list-group-item-action c-button_maroon-slide-button text-size-sliding-button button_width" href="{% url 'file_info' %}">How to Create an Information File</a>
        <a class="list-group-item list-group-item-action c-button_maroon-slide-button text-size-sliding-button button_width" href="{% url 'results_explained' %}">Explaining the Results of the DSPP</a>
    </div>
</div>

{% endblock %}
