{% extends "pages/base/base.html" %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Upload to DSPP" %}{% endblock %}

{% block content %}


<h2 class="headingText">Upload an Information File to the District School Performance Predictor</h2>
<hr>
<div>
    <p>
        Please work through the steps outlined on the "How to Create an Information File" page before attempting to upload a file.
    </p>
    <div align="center">
        <div><a href="{% url 'fileinformation' %}" class="c-button c-button_blue">> How to Create an Information File</a></div>
        <hr>
        <div><a href="https://tamu-dspp-s3.s3.us-east-2.amazonaws.com/media/template/teacher_template.csv" class="c-button c-button_maroon-ghost" download> Download Template Information File CSV </a></div>
        <div> <a href="https://tamu-dspp-s3.s3.us-east-2.amazonaws.com/media/template/example_csv.csv"
           class="c-button c-button_maroon-ghost" download> Download Completed Example Information File CSV</a></div>
        <hr>
        <div><a href="{% url 'results_explained' %}" class="c-button c-button_blue">> Explaining the Results of the DSPP</a></div>
    </div>
</div>
<hr>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form file_form %}
    <input type="submit" class="c-button c-button_blue btn-block submit_button" value="Run Model Prediction">
</form>
<br>

{% endblock content %}
