{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="mt-5 "></div>
    <style type="text/css">
        body {
         background: url('{% static "img/bg.jpg" %}') no-repeat center center fixed;
         -webkit-background-size: cover;
         /*-moz-background-size: cover;*/
         /*-o-background-size: cover;*/
         /*background-size: cover;*/
        }
    </style>

    <div class="row">
        <div class="col col-5  mx-auto">
            <div class="card">
                <div class="card-body">
                    <h1 class="h4" style="caret-color:transparent;">{% trans "Sign Up" %}</h1>
                    <hr>
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
                        {% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
