{% load static %}

<style>
  
  .site-footer
{
  background-color:rgb(80,0,0);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  position: relative;
}
.site-footer {
    bottom: 0;
}

.site-footer h6
{
  color: rgb(255,255,255);
  font-family: 'Oswald', sans-serif;
  font-size:25px;
  margin-top:5px;
  letter-spacing:.25px
}

.site-footer a
{
  color: rgb(255,255,255);
}
.site-footer a:hover
{
    color: rgb(234,234,234);
  background-color: rgb(60,0,0); 
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer p
{
  color: rgb(255,255,255);
}

</style>

  <!-- Site footer -->
    <footer class="site-footer bgmarron txtOpenSans">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <h6 class="txtOpenSans" >Stay Connected</h6>
            <hr>
            <p>Education Leadership Research Center
            <br>427 Harrington Tower
            <br>College Station, TX
            <br><br> Call: 979-845-2716
            <br> Email: <a href="mailto:irbyb@tamu.edu">irbyb@tamu.edu</a>
            </p>
          </div>

          <div class="col-sm-6 col-md-4">
            <h6 class="txtOpenSans">Latest Tweets</h6>
            <hr>
            <ul class="footer-links">
              <li><a href="http://twitter.com/cehdtamu">@cehdtamu</a></li>
              <li><a href="http://www.twitter.com/cehdtamu">Follow @cehdtamu.</a></li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-4">
            <h6 class="txtOpenSans">Resources</h6>
            <hr>
            <ul class="footer-links">
              <li><a href="http://ldn.tamu.edu/">Center for Research and Development in Dual Language & Literacy Acquisition</a></li>
              <li><a href="http://education.tamu.edu/">College of Education and Human Development</a></li>
            </ul>
          </div>
        </div>
      </div>
      
</footer>
