{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bgmarron txtoswald fixed-top justify-content-between" id="mainNav">
    <span>
        <a class="navbar-brand mx-1" href='https://elrc.tamu.edu'>
            <img class="logo" src="{% static 'img/elrc_dark.png' %}" alt="Education Leadership Research Center logo">
        </a>
        <a class="navbar-brand" href="{% url 'home' %}">District School Performance Predictor</a>
    </span>

    <span class="navbar-text d-flex justify-content-end">
        {% if request.user.is_authenticated %}
    <span class="navbar-text d-flex justify-content-end" style="padding-right:1.5rem">
      Welcome, {{ request.user.username }}
    </span>
    {% endif %}


    <ul class="navbar-nav d-flex justify-content-end">
        <li class="nav-item">
            <b>
                <a class="nav-link " href="{% url 'about' %}">About</a>
            </b>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <b>
                <a class="nav-link" href="{% url 'upload' %}">Upload</a>
            </b>
        </li>

        <li class="nav-item">
            <b>
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </b>
        </li>

        <li class="nav-item">
            <b>
                <a class="nav-link " href="{% url 'account_logout' %}">Logout</a>
            </b>
        </li>
        {% else %}

        <li class="nav-item">
            <b>
                <a class="nav-link " href="{% url 'account_login' %}">Login</a>
            </b>
        </li>

        <li class="nav-item">
            <b>
                <a class="nav-link " href="{% url 'account_signup' %}">Register</a>
            </b>
        </li>
        {% endif %}
    </ul>
    </span>
</nav>