{% load static %}
<header>
<nav class="navbar navbar-expand-lg bgmaroon fixed-top txtoswald" id="mainNav" role="navigation">
    <div class="menu-split">
    <a class="navbar-brand mx-1" href='https://elrc.tamu.edu'>
        <img class="logo" src="{% static 'img/elrc_dark.png' %}" alt="Education Leadership Research Center logo">
    </a>
    </div>
    <div class="menu-split">
        <a class="navbar-brand dspp-text" href="{% url 'home' %}">District School Performance Predictor</a>
    </div>
    
    <span class="navbar-text d-flex justify-content-end menu-split welcome-text">
        
    {% if request.user.is_authenticated %}
        <span class="navbar-text d-flex justify-content-end" style="padding-right:1.5rem">
            Welcome, {{ request.user.username }}
        </span>
    {% endif %}
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </span>

    <div class="collapse navbar-collapse menu-split" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <b>
                <a class="nav-link " href="{% url 'about' %}">About</a>
            </b>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item">
            <b>
                <a class="nav-link" href="{% url 'upload' %}">Upload</a>
            </b>
        </li>

        <li class="nav-item">
            <b>
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </b>
        </li>

        <li class="nav-item">
            <b>
                <a class="nav-link " href="{% url 'account_logout' %}">Logout</a>
            </b>
        </li>
        {% else %}

        <li class="nav-item">
            <b>
                <a class="nav-link " href="{% url 'account_login' %}">Login</a>
            </b>
        </li>

        <li class="nav-item">
            <b>
                <a class="nav-link " href="{% url 'account_signup' %}">Register</a>
            </b>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>