{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bgmaroon fixed-top txtoswald">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/elrc_dark.png' %}" class="logo" alt="">
        District School Performance Predictor
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bgmaroon" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    More Info
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'whyuse' %}">Why use the DSPP?</a>
                    <a class="dropdown-item" href="{% url 'fileinformation' %}">How to Create an Information
                        File</a>
                    <a class="dropdown-item" href="{% url 'results_explained' %}">Explaining the Results of the
                        DSPP</a>
                </div>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'upload' %}">Upload</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>