{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}DSPP{% endblock %}

{% block content %}
<style type="text/css">
        body {
         background: url('{% static "img/bg.jpg" %}') no-repeat center center fixed;
         -webkit-background-size: cover;
         /*-moz-background-size: cover;*/
         /*-o-background-size: cover;*/
         /*background-size: cover;*/
        }
</style>
<div class="content-section" style="caret-color:transparent;">
    <div>
        <h1>About</h1>
    </div>
    <hr>
    <div>
        <h5>Education Leadership Research Center (ELRC) </h5>
        <p class='text-muted'>
            ELRC was established by the Texas A&M University College of Education
            and Human Development to advance knowledge about effective education
            leadership by engaging in relevant, high-quality research and disseminating
            key findings on leadership practices and policies that will make a difference
            in helping American schools improve the learning experiences of children.
            <br>
            Find more information check <a href="https://elrc.tamu.edu/"><u>ELRC's website.</u></a>
            <br>
            <br>
            <br>
        </p>
        <h5>Contact US</h5>
        <p>
            Education Leadership Research Center<br>
            427 Harrington Tower<br>
            College Station, TX<br>
            979-845-2716<br>
            <a href="mailto: irbyb@tamu.edu"><u>irbyb@tamu.edu</u></a>
        </p>
    </div>
</div>
{% endblock %}
