{% extends "base.html" %}
{% block content %}
{% load static %}
<style type="text/css">
        body {
         background: url('{% static "img/bg.jpg" %}') no-repeat center center fixed;
         -webkit-background-size: cover;
         /*-moz-background-size: cover;*/
         /*-o-background-size: cover;*/
         /*background-size: cover;*/
        }
</style>

<div class="content-section" style="caret-color:transparent;">
    <div>
        <h1>District School Performance Predictor</h1>
    </div>
    <hr>
    <div>
        <p class='text-muted'> 
            As part of the <a href="https://tea.texas.gov/student-assessment/"><u>State of Texas Assessments of Academic Readiness (STAAR)</u></a> program, 
            Texas schools are evaluated based upon students’ performances, progressions, and improvements in math, reading, and writing. 
            As a result, schools are interested to predict how students may perform in their next STAAR Test, 
            so they can direct their attention and resources to the students who need more help.<br><br>
            <a href="https://elrc.tamu.edu/"><u>Educational Leadership Research Center (ELRC)</u></a> at 
            <a href="https://www.tamu.edu/"><u>Texas A&M University</u></a> has worked on a machine learning model which predicts students' performance 
            based on the their percent score in the previous tests. This website is for pilot testing to see how schools and teachers may be benifited by the machine learning
            predictions. The schools or teachers may use the prediction result to assist the students who may need mroe help based on the predicted performance on the 
            test.<br><br>
            The schools or teachers should log in and upload the student's previous grades in a CSV file matching the <a href="/media/template/teacher_template.csv" download>format provided</a> and the machine learning model runs on 
            the file to predict the student’s performance. The prediction result is provided in a CSV file and can be downloaded by the schools or teachers once the prediction 
            is completed.<br><br>
            Please take note that <b>it is your responsibility to make sure the students are not identifiable with the information you provide in the CSV file. 
            We strongly advise that you do not include student's name or other identification numbers in the CSV file.</b><br>
        </p>
    </div>
</div>


{% endblock %}
