{% extends "base.html" %}
{% block content %}
{% load static %}
<style type="text/css">
        body {
         background: url('{% static "img/bg.jpg" %}') no-repeat center center fixed;
         -webkit-background-size: cover;
         /*-moz-background-size: cover;*/
         /*-o-background-size: cover;*/
         /*background-size: cover;*/
        }
</style>

<div class="content-section">
    <div>
    <h1 style="caret-color: transparent;">District School Performance Predictor</h1>
    </div>
    <hr>
    <div>
        <p class='text-muted' style="caret-color: transparent;"> 
            As part of the <a href="https://tea.texas.gov/student-assessment/"><u>State of Texas Assessments of Academic Readiness (STAAR)</u></a> program, 
            Texas schools are evaluated based upon students’ performances, progressions, and improvements in math, reading, and writing. 
            As a result, schools are interested to predict how students may perform in their next STAAR Test, 
            so they can direct their attention and resources to the students who need more help.<br><br>
            <a href="https://elrc.tamu.edu/"><u>Educational Leadership Research Center (ELRC)</u></a> at 
            <a href="https://www.tamu.edu/"><u>Texas A&M University</u></a> has worked on a machine learning model which predicts a student’s performance 
            based on the student’s percent score in the previous tests. ELRC wants a website so that the schools and teachers can add student information and 
            obtain predictions on the student’s performance based on the machine learning models. The teachers and schools need to be able to log in and have their 
            data added for the machine learning model for predictions. ELRC desires a website that is easy for teachers and schools to use so that they can login conveniently and upload their students’ data as CSV files. The website would then run the machine learning model and provide the results in an easy to use format for the teachers and schools.
        </p>
    </div>
</div>


{% endblock %}
