{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
            <div class="mt-5 "></div>

<style type="text/css">
        body {
         background: url('{% static "img/bg.jpg" %}') no-repeat center center fixed;
         -webkit-background-size: cover;
         /*-moz-background-size: cover;*/
         /*-o-background-size: cover;*/
         /*background-size: cover;*/
        }
</style>
<div class="content-section">
    <!--<div class="row">-->
    <!--     <p class='text-muted'>Logged in as: {{request.user.get_username}}</p>-->
    <!--</div>-->
    <div class="row justify-content-center">
        <h1 style="text-align:center;">{% trans "Upload File for ML Prediction" %}</h1>
    </div>
    <br>
    <div class="row">

        <div class="col col-5  mx-auto">

            <div class="card">
                <div class="card-body">
                    <div>
                        <a  href="/media/template/teacher_template.csv" download> Download Template CSV </a><br>
                        Currently, our site can only make STAAR predictions for <b>Grade 7 Math</b> data.
                    </div>
                    <hr>

                    <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <p>You are logged in as user <b> {{request.user.get_username}}.</b></p>
                        <!-- update with bootstrap by looking at over view -->
                        {% bootstrap_form upload_file_form %}
                         <input type="submit" class="btn btn-primary btn-block" value="Run ML Prediction">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>


<!-- </center> -->
{% endblock content %}
