{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    <style type="text/css">
            body {
             background: url('{% static "img/bg.jpg" %}') no-repeat center center fixed;
             -webkit-background-size: cover;
             /*-moz-background-size: cover;*/
             /*-o-background-size: cover;*/
             /*background-size: cover;*/
            }
    </style>
    <!--<div class="row">-->
    <!--     <p class='text-muted'>Logged in as: {{request.user.get_username}}</p>-->
    <!--</div>-->
    <div class="row">
        <div class="col col-5  mx-auto">
            <div class="card">
                <div class="card-body" style="caret-color:transparent;">
                    <div class="row justify-content-center">
                        <h1 style="text-align:center;">Upload File for AI Prediction</h1>
                    </div>
                    <hr>
                    <div>
                        <a href="/media/template/teacher_template.csv" download> Download Template CSV </a><br>
                        <p>Currently, our site can only make STAAR predictions for <b>Grade 5 Math</b> scores.<br></p>
                        <p>Please strictly follow the format provided in the template, otherwise you may get inaccurate preditions or errors.</p>
                        <p><b>Please make sure your CSV file does not include student's personally identifiable information!</b></p>
                    </div>
                    <hr>

                    <form method="POST" enctype = "multipart/form-data">
                        {% csrf_token %}
                        <!--<p>You are logged in as user <b> {{request.user.get_username}}.</b></p>-->
                        <!-- update with bootstrap by looking at over view -->
                        {% bootstrap_form upload_file_form %}
                         <input type="submit" class="btn btn-primary btn-block" value="Run AI Prediction">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<!-- </center> -->
{% endblock content %}
